{% extends "activity/base.html" %}

{% block title %}修改密码{% endblock %}

{% block content %}

{% if validlink %}
<div id="dlg_reset_chg_pwd" title="修改密码" class="ui-dialog ui-widget ui-widget-content ui-corner-all">
	<div style="height: 198px; min-height: 60px; width: auto;" class="ui-dialog-content ui-widget-content">
		{% if form.new_password1.errors %}
		<p>密码不能为空!并且两次输入密码要一致!</p>
		{% endif %}
		<form action="" method="post">
			{% csrf_token %}
			<fieldset>
				<label for="id_new_password1">新密码：</label>
				<input type="password" name="new_password1" id="id_new_password1" class="text ui-widget-content ui-corner-all" />
				<label for="id_new_password2">再次输入新密码：</label>
				<input type="password" name="new_password2" id="id_new_password2" class="text ui-widget-content ui-corner-all" />
				<input type="submit" value="确定"/>
		</form>
	</div>
</div><!-- dlg_reset_chg_pwd -->
<script type="text/javascript">
	$(document).ready(function() {
		$("input:submit").button();
		$("#dlg_reset_chg_pwd").dialog();
	});

</script>
{% else %}
<div id="dialog-message" title="重置密码失败">
	<p>
		<span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 50px 0;"></span>
		密码重置链接已经失效，请再次尝试密码重置!
	</p>
</div>
<script type="text/javascript">
	$(document).ready(function() {
		$("#dialog-message").dialog({
			modal : true
		});
	});
</script>
{% endif %}
{% endblock %}