{% extends "activity/base.html" %}

{% block title %}重置密码{% endblock %}

{% block content %}
<div id="dlg_reset_pwd" title="重置密码" class="ui-dialog ui-widget ui-widget-content ui-corner-all">
	<div style="height: 162px; min-height: 60px; width: auto;" class="ui-dialog-content ui-widget-content">
		<form action="" method="post">
			{% csrf_token %}
			 {{ form.email.errors }}
			<fieldset>
				<label for="id_email">E-mail:</label>
				<input id="id_email" type="text" name="email" class="text ui-widget-content ui-corner-all" />   
				<input type="submit" value="重置密码" />
			</fieldset>
		</form>
	</div>
</div><!-- dlg_reset_pwd -->
<script type="text/javascript">
	$(document).ready(function() {
		$("input:submit").button();
		$("#dlg_reset_pwd").dialog();
	});
</script>
{% endblock %}